.knick-card {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  height: 100vh;
  display: grid;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  text-decoration: none;
  overflow: scroll;
}

.knick-pic {
  width: 100vw;
}

.knick-position, .ppg, .apg, .rpg {
  grid-column: 2 / 3;
  background-color: black;
  border-radius: 20%;
}

.knick-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-shadow: black 2px 2px;
}

.knick-position {
  grid-row: 3 / 4;
}

.knick-ppg {
  grid-row: 4 / 5;
}

.knick-apg {
  grid-row: 5 / 6;
}

.knick-rpg {
  grid-row: 6 / 7;
}

@media screen and (min-width: 400px) {
  .player-card {
    grid-template-columns: repeat(5, 1fr)
  }
}





