.knick-card {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  color: white;
  overflow: scroll;
  justify-content: center;
}

.knick-pic {
  width: 200px;
}

.knick-position,
.knick-ppg,
.knick-apg,
.knick-rpg,
.knick-pic {
  background-color: black;
  border-radius: 20%;
}

.knick-name {
  text-shadow: black 2px 2px;
}

@media screen and (min-width: 768px) {
  .knick-card {
    padding-top: 50px;
  }

  .knick-pic {
    width: 300px;
  }

  .knick-name {
    font-size: 40px;
  }

  .knick-position,
  .knick-ppg,
  .knick-apg,
  .knick-rpg {
    font-size: 30px;
  }
}

@media screen and (min-width: 988px) {
  .knick-card {
    padding-top: 100px;
  }

  .knick-pic {
    width: 400px;
  }

  .knick-name {
    font-size: 50px;
  }

  .knick-position,
  .knick-ppg,
  .knick-apg,
  .knick-rpg {
    font-size: 30px;
  }
}
