@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.knicks {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.knickerbockers {
  color: rgb(255, 115, 0);
  text-shadow: blue 1px 1px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Oxygen;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20%;
  flex-direction: row;
}

/* #Bernard King { */
/* bernard */
/* grid-column: 2 / 3; */
/* } */

/* div#recEz4vCxVbOpLfFW.knickerbocker {  */
/*Melo */
/* grid-column: 2 / 3; */
/* } */

/* #recTKiggGiZJeB32b { */
/* Willis */
/* } */

/* #recP7jfAxBb71LFSP { */
/* Pat */
/* } */

/* #recxaOzIAf6FZKP6i { */
/* Clyde */
/* } */

@media screens and (min-width: 768px) {
  .knicks {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: space-between; */
  }
}

@media screens and (min-width: 992px) {
  .knicks {
    flex-direction: row;
  }
}

@media screens and (min-width: 1200px) {
}
