@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.knicks {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 50%;
  border: solid black 1px;
  border-radius: 20%;
}

.knickerbockers {
  color: rgb(255, 115, 0);
  text-shadow: blue 1px 1px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Oxygen;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20%;
  flex-grow: 2;

}

@media screen and (min-width: 768px) {
  .knicks {
    /* flex-direction: row; */
    flex-wrap: wrap;
  }

  .knickerbockers {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .knicks {
    flex-direction: row;
    justify-content: space-around;
  }
  
}
