.nav {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--orange);
  color: black;
  padding: 2px;
  width: 100%;
}

.nav a {
  padding: 0px 5px;
  color: white;
}