@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.nav {
  display: grid;
}


#knicks, #sq, #next {
  font-family: Permanent Marker;
  color: blue;
  text-shadow: black 1px 1px;
}
