@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.nav {
display: flex;
justify-content: center;  
}




#knicks, #sq, #next {
  font-family: Permanent Marker;
  font-size:large;
  color: blue;
  text-shadow: black 1px 1px;
  font-weight: 100;
  padding: 10px;
}
