.squad-form {
  height: 100vh;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#team-name-create,
#pg,
#sg,
#sf,
#pf,
#center,
.submit {
  grid-column: 2 / 3;
  color: white;
  border-radius: 20%;
}

#team-name-create {
  grid-row: 2 / 3;
}

#pg {
  grid-row: 3 / 4;
}

#sg {
  grid-row: 4 / 5;
}

#sf {
  grid-row: 5 / 6;
}

#pf {
  grid-row: 6 / 7;
}

#center {
  grid-row: 7 / 8;
}

.submit {
  grid-row: 8 / 9;
  color: black;
  border-radius: 10%;
}

@media screen and (min-width: 400px) {
  .squad-form {
    grid-template-columns: repeat(5, 1fr);
  }
  #team-name-create,
  #pg,
  #sg,
  #sf,
  #pf,
  #center,
  .submit {
    grid-column: 3 / 4;
  }
}

@media screen and (min-width: 600px) {
  .squad-form {
    grid-template-columns: repeat(7, 1fr);
  }

  #team-name-create,
  .submit {
    grid-column: 4 / 5;
  }

  #pg,
  #sf {
    grid-column: 2 / 4;
  }

  #sg {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
  }

  #pf {
    grid-column: 5 / 7;
    grid-row: 5 / 6;
  }

  #center {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
  }
}

@media screen and (min-width: 800px) {
  .squad-form {
    grid-template-columns: repeat(9, 1fr);
  }

  #team-name-create,
  #center,
  .submit {
    grid-column: 5 / 6;
  }

  #pg {
    grid-column: 3 / 4;
  }

  #sg {
    grid-column: 7 / 8;
  }

  #sf {
    grid-column: 3 / 4;
  }

  #pf {
    grid-column: 7 / 8;
  }
}

@media screen and (min-width: 1000px) {
  .squad-form {
    grid-template-columns: repeat(11, 1fr);
  }

  #team-name-create,
  #center,
  .submit {
    grid-column: 6 / 7;
  }

  #pg {
    grid-column: 4 / 5;
  }

  #sg {
    grid-column: 8 / 9;
  }

  #pf {
    grid-column: 9 / 10;
  }
}

@media screen and (min-width: 1200px) {
  .squad-form {
    grid-template-columns: repeat(13, 1fr);
  }

  #team-name-create,
  #center,
  .submit {
    grid-column: 7 / 8;
  }

  #pg {
    grid-column: 5 / 6;
  }

  #sg {
    grid-column: 9 / 10;
  }

  #pf {
    grid-column: 11 / 12;
  }
}

@media screen and (min-width: 1400px) {
  .squad-form {
    grid-template-columns: repeat(15, 1fr);
  }

  #team-name-create,
  #center,
  .submit {
    grid-column: 8 / 9;
  }

  #pg {
    grid-column: 6 / 7;
  }

  #sg {
    grid-column: 10 / 11;
  }

  #sf {
  }

  #pf {
    grid-column: 13 / 14;
  }
}
