@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.teams-container {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  height: 100vh;
  text-decoration: none;
}



.team-name {
  color: white;
  text-shadow: black 2px 2px;
}

#squads {
  color: rgb(255, 115, 0);
  text-shadow: blue 2px 2px;  
  font-family: Permanent Marker;
}