.teams-container {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newhampshirepavingpros.com%2Fuploads%2F9%2F6%2F9%2F6%2F96965846%2Fpublished%2F6611904-orig.jpg%3F1485566266&f=1&nofb=1");
  background-size: cover;
  height: 100vh;
}



.team-name {
  color: white;
  text-shadow: black 2px 2px;
}

